/* To hide icon label*/
#identity-box.extensionPage #identity-icon-label {
	display: none !important;
}

/* To hide ask about secure */
#identity-box.extensionPage
    #identity-icon[tooltiptext="Loaded by extension: Tabliss"],
#urlbar[pageproxystate="invalid"]
    #identity-box
    #identity-icon,
#tracking-protection-icon-container[hidden]
    ~ #identity-box[pageproxystate="valid"].notSecure:not(.chromeUI, .localResource)
    #identity-icon {
	fill-opacity: var(--urlbar-icon-fill-opacity) !important;
	list-style-image: url(chrome://userchrome/content/engines/google.svg) !important;
}
