@define-color white rgba(220, 220, 220, 1);
@define-color black rgba(0, 0, 0, 1);

* {
	all: unset;
	font-family: "JetBrainsMono Nerd Font";
	font-size: 12px;
	font-weight: 900;
	min-height: 0;
}

window#waybar {
	background-color: @black;
	color: @white;
	transition-property: background-color;
	transition-duration: 0.1s;
}

button {
	margin: 0px;
}

button:hover {
	background: inherit;
	border-bottom: 1px solid @white;
}

#window {
	margin: 0px;
}

#workspaces button {
	padding: 1px 4px 0px 4px;
	min-width: 10px;
	min-height: 10px;
}

#workspaces button.focused {
	background-color: @black;
	color: #7777ff;
	border-top: 1px solid @white;
}

#workspaces button.active {
	background-color: @white;
	color: @black;
}

#workspaces button.urgent {
	background-color: #ff0400;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 4px;
	padding-right: 4px;
}

#clock {
	background-color: black;
	border-bottom: none;
}

#clock.date {
	border-bottom: none;
}

#wireplumber {
	border-bottom: none;
}

#network {
	border-bottom: none;
}

#idle_inhibitor {
	margin-right: 12px;
	color: #7cb342;
}

#idle_inhibitor.activated {
	color: #ff0400;
}

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left > widget:first-child > #workspaces { */
/* margin-left: 0; */
/*} */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > #workspaces { */
/* margin-right: 0; */
/* } */
