/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * by Stephan Raabe (2023) 
 * ----------------------------------------------------- 
*/

/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
@import "/home/user/.cache/wal/colors-waybar.css";
@define-color backgroundlight @foreground;
@define-color backgrounddark @background;
@define-color workspacesbackground1 #FFFFFF;
@define-color workspacesbackground2 @color5;
@define-color bordercolor #FFFFFF;
@define-color textcolor-light @foreground;
@define-color textcolor-dark @background;
@define-color iconcolor @foreground;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "Fira Sans semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0.4);
    border-bottom: 0px solid #ffffff;
    /* color: #FFFFFF; */
    transition-property: background-color;
    transition-duration: .5s;

    /*Custom*/
    padding: 0;
    margin: 0;
}

.modules-left {
    padding-left: 10px;
}
.modules-right {
  padding-right: 10px;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    margin: 0px 0px 0px 0px;
    border: 0px;
    font-size: 12px;
    color: @iconcolor;
}

#workspaces button {
    border: 0px;
    margin: 0px 0px 0px 0px;
    padding:0px 4px 0px 4px;
    color: @iconcolor;
    transition: all 0.5s ease-in-out;
}

#workspaces button.active {
    color: @textcolor-dark;
    background: @workspacesbackground2;
}

#workspaces button:hover {
    color: @textcolor-dark;
    background: @workspacesbackground2;
    border-radius: 0px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 10px;
    background-color: @backgrounddark;
    opacity:0.8;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: @foreground;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    margin: 0px 0px 0px 0px;
    border-radius: 12px;
    color:@textcolor;
    font-size: 12px;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-brave, 
#custom-browser, 
#custom-keybindings, 
#custom-outlook, 
#custom-filemanager, 
#custom-teams, 
#custom-chatgpt, 
#custom-calculator, 
#custom-windowsvm, 
#custom-cliphist, 
#custom-wallpaper, 
#custom-settings, 
#custom-wallpaper, 
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-tools,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes {
    margin-right: 16px;
    font-size: 12px;
    font-weight: bold;
    color: @iconcolor;
}

#custom-tools {
    margin-right:12px;
}

#custom-hyprshade {
    margin-right:12px;
}

#custom-hypridle {
    margin-right:16px;
}

#custom-hypridle.active {
    color: @iconcolor;
}

#custom-hypridle.notactive {
    color: #dc2f2f;
}

#custom-settings {
    margin-right: 15px;
}

#custom-browser {
    margin-right: 12px;
}

#custom-wallpaper {
    margin-right: 14px;
}

#custom-chatgpt {
    margin-right: 10px;
    background-image: url("../assets/ai-icon-20.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 23px;
}

#custom-waybarthemes,#custom-system {
    margin-right:15px;
}


#custom-ml4w-welcome {
    margin-right: 12px;
    background-image: url("../assets/ml4w-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    padding-right: 20px;
}

#custom-ml4w-hyprland-settings {
    margin-right: 12px;
    background-image: url("../assets/hyprland-icon-20.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 16px;
}


/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

 #idle_inhibitor {
    margin-right: 15px;
    font-size: 12px;
    font-weight: bold;
    color: @iconcolor;
}

#idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenuicon {
    font-size: 12px;
    color: @textcolor;
    margin: 0px 0px 0px 0px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 0px 20px 0px 0px;
    padding:0px;
    font-size: 12px;
    color: @iconcolor;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
    font-size: 14px;
    color: @textcolor;
    border-radius: 15px;
    margin: 0px 0px 0px 0px;
}

#custom-updates.green {
}

#custom-updates.yellow {
    color: #ff9a3c;
}

#custom-updates.red {
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Youtube
 * ----------------------------------------------------- */

#custom-youtube {
    background-color: @backgroundlight;
    font-size: 12px;
    color: @textcolor-dark;
    border-radius: 15px;
    margin: 0px 0px 0px 0px;
}

/* -----------------------------------------------------
 * System Monitor
 * ----------------------------------------------------- */

#disk {
    margin: 0px 10px 0px 0px;
    padding: 0px;
    font-size: 12px;
    color:@iconcolor;
}

#memory {
    margin: 0px 10px 0px 0px;
    padding: 0px;
    font-size: 12px;
    color:@iconcolor;
}

#cpu {
    margin: 0px 10px 0px 0px;
    padding: 0px;
    font-size: 12px;
    color:@iconcolor;
}

#language {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    font-size: 12px;
    color:@iconcolor;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    font-size: 12px;
    color: @iconcolor;
    margin: 0px 0px 0px 0px;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {
    font-size: 12px;
    color: @iconcolor;
    border-radius: 15px;
    margin: 0px 0px 0px 0px;
    background-color: transparent;
}

/* -----------------------------------------------------
 * Audio
 * ----------------------------------------------------- */

#pulseaudio {
    font-size: 12px;
    color: @iconcolor;
    border-radius: 15px;
    margin: 0px 0px 0px 0px;
}

#pulseaudio.muted {
    color: @iconcolor;
}

#wireplumber {
  font-size: 12px;
  margin: 0px 10px 0px 0px;
  color: @iconcolor;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    font-size: 12px;
    color: @iconcolor;
    border-radius: 15px;
    margin: 0px 10px 0px 0px;
}

#network.ethernet {
    color: @iconcolor;
}

#network.wifi {
    color: @iconcolor;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

 #bluetooth, #bluetooth.on, #bluetooth.connected {
    font-size: 12px;
    color: @iconcolor;
    border-radius: 15px;
    margin: 0px 0px 0px 0px;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    font-size: 12px;
    color: @iconcolor;
    border-radius: 15px;
    margin: 0px 0px 0px 0px;
}

#battery.charging, #battery.plugged {
    color: @iconcolor;
}

@keyframes blink {
    to {
        background-color: @backgroundlight;
        color: @textcolor-dark;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    margin: 0px 0px 0px 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
